
/* HEADER AND NAVBAR */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #E8EDED;
    width: 100%;
    height: 138px;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 42px 100px;
    z-index: 1;
    box-shadow: 0px 1.2rem 3.2rem rgba(0, 0, 0, 0.3);  
}

.logo {
    color: #1C1C1C;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.mainNav .navBtn {
    display: none;
}

.mainNavList {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    color: #1C1C1C;
    gap: 3.2rem;
    font-size: 24px;
    
}

.mainNavLink:link, .mainNavLink:visited {
    color: #1c1c1c;
    text-decoration: none;
}

.mainNavLink:hover, .mainNavLink:active {
    color: #6fcade; 
    text-decoration: underline;  
}

.personalList {
    list-style: none;
    font-size: 14px;
    margin-top: 20rem;
    padding: 70px 30px;
    display: none;
    background-color: #e8eded;
    gap: 2rem;
    display: none;
}

.personalLink:link .personalLink {
    display: none;
}

.personalLink:link, .personalLink:visited {
    color: #1C1C1C;
    font-size: 24px;
}

.personalLink:hover, .personalLink:active {
    color: #6fcade;
}

.mainNavigationLink:hover .personalList {
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
    padding: 2px 50px;
    border-radius: 10px;
}

/* NAV BUTTON */

.mobileDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBtn {
    display: flex;
    font-family: "Syne", sans-serif;
    gap: 1rem;
    font-size: 24px;
    font-weight: 600px;
}

.btn, 
.btn:link, 
.btn:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 65px;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
    border: none;
}

.LoginBtn:link, .LoginBtn:visited {
    background-color: #9FB7B9;
    color: #F6F6F6;
}

.LoginBtn:hover, .LoginBtn:active {
    background-color: #b7ced1;
    color: black;
}

.SignUpBtn:link, .SignUpBtn:visited {
    background-color: inherit;
    border: 1px solid #1c1c1c;
    color: #333;
}

.SignUpBtn:hover, .SignUpBtn:active {
    background-color: #f5f2ec;
    border: 1px solid white;
    color: #1C1C1C;
}


/* MOBILE NAV BUTTON */


.btn-mobile-nav {
    cursor: pointer;
    border: none;
    display: none;
}

.icon-mobile-nav {
    width: 4.8rem;
    height: 4.8rem;
    color: #000;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}


/* HERO SECTION */


.heroSection {
    display: flex;
    justify-content: center;
    background-image: url(/img/GroupCards.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-top: 15rem;     
}

.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    text-align: center;
   
}

.heroText, 
.heroSubTittle {
    margin-bottom: 34px;
    font-size: 32px;
    font-weight: 500;
    color: #1C1C1C;
}

.heroTittle {
    font-family: "syne", sans-serif;
    font-size: 115px;
    font-weight: 600;
    margin-bottom: 34px;
}

.heroBtn {
    font-family: "syne", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.heroBtn .btn {
    font-size: 24px;
    color: #F6F6F6;
    background: #9FB7B9;
    width: 346px;
    height: 65px;
    padding: 10px;
    border-radius: 10px;   
}

.heroBtn .btn:hover, 
.heroBtn .btn:active {
    color: #1C1C1C;
    background: #b7ced1;
}


/* ABOUT SECTION */

.aboutSection {
    padding: 0 171px;
    margin-bottom: 167px 0 141px;
}

.aboutSection .gridCard {
    width: 1385px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 178px;
    background-color: #6fcade;
    border-radius: 20px;
    padding: 135px 61px 62px 80px;
    margin-top: 10rem;
}

/* ADD WALLET */
.aboutSection .addWallet {
    padding: 135px 61px 62px 68px;
}

.aboutSection .gridItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutSection .gridItem .atmTablet {
    display: none;
}

.aboutSection .gridItemText {
    align-items: flex-start;
    color: #1C1C1C;
}

.aboutSection .gridItem button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    background-color: #1C1C1C;
    color: #F6F6F6;
    font-size: 24px;
    font-weight: 600;
    width: 411px;
    height: 65px;
    margin-top: 29px;
    border-radius: 10px;
}

.aboutSection .gridItemText h3 {
    font-family: "Syne", sans-serif;
    font-size: 32px;
    font-weight: 700;
    width: 468px;
    line-height: 38px;
    margin-bottom: 25px;
} 

.aboutSection .gridItemText p {
    font-size: 28px;
    font-weight: 500;
    line-height: 33px;
    width: 574px;
    margin-bottom: 152px;
}

/* LEARN MORE CARD */


.aboutSection .learnMore {
    grid-column-gap: 100px;
    padding: 21px 61px 41px 83px;
}

.aboutSection .learnMore .gridItemText {
    margin-top: 135px;
}

.aboutSection .gridItemText .learnMoreBtn {
    width: 236px;
}

/* FOOTER SECTION */


.footerSection {
    background-color: #1C1C1C;
    background-image: url(/img/foot.svg);
    background-position: left;
    background-repeat: no-repeat;
    color: #F6F6F6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 89px;
    padding: 152px 831px 164px 100px;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Syne', sans-serif;
    height: 100vh;
}

.footerSection .gridItem {
    display: flex;
    flex-direction: column;
    
}

.footerSection h4 {
    font-family: "Roboto", sans-serif;
    margin-bottom: 55px;
}

.footerSection .footerLinks {
    width: 134px;
    display: flex;
    flex-direction: column;
    row-gap: 27px;
    font-size: 22px;
    font-weight: 300;
    font-family: "Inter", sans-serif;
}

#reg {
    background-color: #b3e3e8;
}

.formSect {
    background: #b3e3e8;
    width: 1728px;
    height: 1219px;
}

.formCon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formHeading {
    color: #1C1C1C;
    font-family: syne;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.formTag {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.formBig {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    display: block;
    color: #1C1C1C;
    font-family: Sofia Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

input {
    width: 276px;  
    height: 73px; 
    border-radius: 5px;
    border: 1px solid #000;
    opacity: 0.5;
    padding: 10px;
    font-size: 20px;
     
}

.formBtn {
    border-radius: 10px;
    background: #0044C7;
    color: #F2FEFF;
    font-size: 20px;
    font-family: syne;
    display: flex;
    width: 465px;
    height: 65px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 9rem;
    flex-shrink: 0;
}

.formBtn {
    display: flex;
    flex-direction: column;
}
